{% extends "base.html" %}
{% block title %}Password reset sent{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset-password.css' %}">
<h1>Password reset sent</h1>
<div id="reset-form">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.
                <br><br>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your spam folder.
            </h5>
        </div>
    </form>
</div>
{% endblock %}>