{% extends "base.html" %}
{% block title %}Set a New Password{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset-password-confirm.css' %}">
<h1>Set a New Password</h1>
<div class="password-reset-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <label for="{{ form.new_password1.id_for_label }}">New password:</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row">
            <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit">Set New Password</button>
    </form>

    <p><a href="{% url 'login' %}">Back to login</a></p>
</div>
{% endblock %}