{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset-password-confirm.css' %}">
<h1>Password reset</h1>
<div class="password-reset-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <h5>Your password has been successfully reset.</h5>
        </div>
        <p>A confirmation email has been sent to you. Please check your inbox to complete the process.</p>
        <p><a href="{% url 'login' %}">Back to Login</a></p>
    </form>
</div>
{% endblock %}