table {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

th,
td {
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    padding: 0.5rem;
}

p {
    font-size: 1.2rem;
    margin: 1.2rem;
}

#table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#total-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

#buy-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}


#delete-button {
    font-size: clamp(0.8rem, 2.5vw, 0.85rem);
    text-wrap: nowrap;
}

#buy-button {
    font-size: clamp(1.0rem, 2.5vw, 1.05rem);
}