#reset-form {
    max-width: 25rem;
    margin: 7rem auto;
    padding: 1.25rem;
}

#reset-form input,
#reset-form button {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

#reset-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#reset-form button:hover {
    background-color: #0056b3;
}