body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    margin: 2rem;
}

h1 {
    margin: 1rem;
}

footer {
    text-align: center;
    margin-top: auto;
    opacity: 0.5;
}