body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    margin: 2rem;
}

#search-bar {
    height: 2rem;
    width: 12rem;
}

h1 {
    font-size: 3rem !important;
    margin: 1rem;
}

footer {
    text-align: center;
    margin-top: auto;
    opacity: 0.5;
}

.bi {
    font-size: 1.5rem;
    transition: opacity 0.3s ease;
    color: black;
}

.nav-item.d-block.d-lg-none>a.nav-link,
.nav-item.d-block.d-lg-none>form>button {
    display: block;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
}

#arrow,
#person {
    opacity: 0.7;
}

#arrow:hover,
#person:hover {
    opacity: 1.0;
}