{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<h1>Your Cart</h1>

{% if cart.cart_items.all %}
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.cart_items.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.product.price }}</td>
            <td>${{ item.get_total_items_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><strong>Total:</strong> ${{ cart.get_total_cart_price }}</p>

{% else %}
<p>Your cart is empty.</p>
{% endif %}

{% endblock %}